# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Staticfiles directory created by collectstatic
/staticfiles/

# Media files
/media/

# Old project directories to be ignored
/nirdhar_project/
/nirdhar_app/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# VS Code
.vscode/
.idea/

# Project specific
staticfiles/
/features.html
/index.html

