{% load static %}
<form method="post" action="{% url 'contact' %}" class="contact-form">
    {% csrf_token %}
    <div class="row g-4">
        <div class="col-md-6">
            <div class="form-group">
                {{ contact_form.name }}
                {% if contact_form.name.errors %}
                    <div class="text-danger mt-1">
                        {{ contact_form.name.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ contact_form.email }}
                {% if contact_form.email.errors %}
                    <div class="text-danger mt-1">
                        {{ contact_form.email.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ contact_form.company }}
                {% if contact_form.company.errors %}
                    <div class="text-danger mt-1">
                        {{ contact_form.company.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ contact_form.phone }}
                {% if contact_form.phone.errors %}
                    <div class="text-danger mt-1">
                        {{ contact_form.phone.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                {{ contact_form.message }}
                {% if contact_form.message.errors %}
                    <div class="text-danger mt-1">
                        {{ contact_form.message.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary-custom py-3 px-4 rounded-3">
                <span class="d-flex align-items-center gap-2">
                    <span>Send Message</span>
                    <i class="bi bi-arrow-right"></i>
                </span>
            </button>
        </div>
    </div>
</form> 