{% load static %}
<form action="https://formspree.io/f/movdnkde" method="POST" class="newsletter-form">
    {% csrf_token %}
    <div class="form-group">
        <input type="email" name="email" placeholder="Enter your email" class="form-control" required>
    </div>
    
    <!-- Formspree redirect -->
    <input type="hidden" name="_next" value="{{ request.build_absolute_uri }}?subscribed=true">
    <input type="hidden" name="_subject" value="New Newsletter Subscription">
    
    <button type="submit" class="btn btn-primary">Subscribe</button>
</form> 